* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    max-width: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    min-height: 100vh;
    background-color: black;
}

/* header */

.top-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000000;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu li {
    font-size: 18px;
}

.nav-menu a,
.thomas {
    color: #d4af37;
    font-weight: bold;
}

.nav-menu a {
    text-decoration: none;
    font-size: 18px;
}

.nav-menu a:hover,
.thomas:hover,
.home1:hover,
.home2:hover,
.home3:hover,
.home4:hover,
.nav-menu a:focus,
.thomas:focus,
.home1:focus,
.home2:focus,
.home3:focus,
.home4:focus {
    background-color: #ffffff;
    color: #000000;
}

.home1 {
    position: absolute;
    right: 20px;
    margin-right: 157px;
}

.home2 {
    position: absolute;
    right: 20px;
}

.home3 {
    position: absolute;
    right: 20px;
    margin-right: 84px
}

.home4 {
    position: absolute;
    right: 20px;
    margin-right: 224px;
}

.thomas {
    font-size: 26px;
}

/* Hero front */

.heroFront {
    text-align: center;
    padding: 40px 20px;

}

.headline {
    font-size: 32px;
    font-weight: bold;
    color: #d4af37;
    margin-top: 20px;
    margin-bottom: 20px;
}

.selfie_container {
    height: 250px;
    width: 250px;
    max-width: 100%;
    position: relative;
    background-image: url("/assets/2.selfie_3_11zon.png");
    background-size: cover;
    margin: 20px auto;
    border-radius: 8px;
}

.selfie_container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

.work,
.skills {
    color: #ffffff;
    font-size: 26px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;

}

.work {
    margin-top: 30px;
}

/* Cards */

.dynamic-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

.cards-container {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 350px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    border: 2px solid #d4af37;
    border-radius: 10px;
    overflow: hidden;
    color: #ffffff;
    margin-bottom: 20px;
}

.card:hover {
    background-color: #000000;
    box-shadow: 0 8px 16px 0 rgb(255, 255, 255);
}

.content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.description {
    margin-bottom: 10px;
    margin-top: 10px;
}

.card footer a {
    display: inline-block;
    margin: 10px;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.card footer a:hover {
    background-color: #ffffff;
    color: #000000;
}

/* my skills */

.skills_container {
    max-width: 90%;
    margin: 20px auto 40px;
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    border: 2px solid #d4af37;
}

.skills-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 25px;
}

.skills-icons i {
    font-size: 26px;
    margin: 0 10px;
    color: #d4af37;
    transition: color 0.3s ease;
}

/* About */

.about_container {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    border: 2px solid #d4af37;
}

.about_container,
.cv_container,
.contact_container,
.link_text {
    margin-top: 40px;
    margin-bottom: 40px;
}

.about-title {
    color: #ffffff;
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: bold;
}

.about-text {
    color: #ffffff;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.about-image-container {
    max-width: 100%;
    margin: 20px 0;
}

.about-image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* CV */

.cv_container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    border: 2px solid #d4af37;
}

.cv-heading {
    color: #ffffff;
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: bold;
}

.cv-entry {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    padding: 15px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-bottom: 20px;
}

.cv-entry h2 {
    color: #d4af37;
    font-size: 18px;
    margin-bottom: 10px;
}

.cv-entry p {
    color: #ffffff;
    font-size: 16px;
}

/* Contact */

.contact_container {
    max-width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    border: 2px solid #d4af37;
}

.contact_container h2 {
    color: #ffffff;
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    color: #d4af37;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #d4af37;
    border-radius: 5px;
}

.error {
    color: #ff0000;
    margin-top: 5px;
}

button {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 2px solid #d4af37;
}

button:hover {
    background-color: #ffffff;
    color: #000000;
}


/* Links */

.link_text {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    overflow: hidden;
    text-align: center;

}

.social-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 25px;
}

.social-links a {
    font-size: 32px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #d4af37;
}

/* Footer */

.footer {
    color: #d4af37;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
}

.footer i {
    margin-left: 5px;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 22px;
    background-color: #d4af37;
    color: #000000;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#scrollToTopBtn:hover {
    background-color: #ffffff;
    color: #000000;
}



@media (max-width: 768px) {
    .top-menu {
        flex-direction: column;
        align-items: center;
    }

    .nav-menu {
        margin-top: 10px;
    }

    .nav-menu ul {
        flex-direction: column;
        text-align: center;
    }

    .nav-menu li {
        margin: 5px 0;

    }

    @media (max-width: 768px) {

        .nav-menu a,
        .thomas,
        .home1,
        .home2,
        .home3,
        .home4 {
            display: inline-block;
            padding: 5px 10px;
            background-color: #d4af37;
            color: black;
            border-radius: 5px;
            text-decoration: none;
            font-weight: bold;
            text-align: center;
            transition: background-color 0.3s ease, color 0.3s ease;
        }


        .thomas {
            display: none;
        }



        .nav-menu a:hover {
            background-color: black;
            color: #d4af37;
        }
    }


    .home1 {
        order: 2;
    }

    .home2 {
        order: 4;
    }

    .home3 {
        order: 3;
    }

    .home4 {
        order: 1;
    }

    .home1,
    .home2 {
        position: static;
        margin: 10px 0;
    }

    .home1,
    .home2,
    .home3,
    .home4 {
        position: static;
        margin: 10px 0;
    }

    .skills-icons {
        flex-wrap: wrap;
    }

    .skills-icons i {
        margin: 10px;
    }

    .cv-entry {
        margin-bottom: 20px;
    }
}

@media (min-width: 600px) {
    .cards {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media (max-width: 600px) {
    .skills-icons {
        flex-direction: column;
    }

    .heroFront {
        padding: 10px;
    }

    .selfie_container {
        height: 150px;
        width: 150px;
    }

}