* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
    box-sizing: border-box;
}

html,
body {
    max-width: 100%;
    height: 100%;
}

body {
    min-height: 100vh;
    background-color: black;
}

/* header */

.top-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu li {
    font-size: 18px;
}

.nav-menu a,
.thomas {
    color: #d4af37;
    font-weight: bold;
}

.nav-menu a {
    text-decoration: none;
    font-size: 18px;
}

.home1 {
    position: absolute;
    right: 20px;
    margin-right: 150px;
}

.home2 {
    position: absolute;
    right: 20px;
    margin-right: 20px;
}

.thomas {
    font-size: 26px;
}

/* Hero front */

.heroFront {
    text-align: center;
    padding: 20px;

}

.headline {
    font-size: 26px;
    font-weight: bold;
    color: #d4af37;
}

.selfie_container {
    height: 200px;
    width: 200px;
    max-width: 100%;
    position: relative;
    background-image: url("/assets/selfie.png");
    background-size: cover;
    margin: 20px auto;
    border-radius: 8px;
}

.selfie_container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

/* Cards */

.cards-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
}

.card {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    transition: box-shadow 0.3s ease;
    /* background-color: #d4af3785; */
    color: #ffffff;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card:hover {
    background-color: #333;
    box-shadow: 0 8px 16px 0 rgb(255, 255, 255);
}