* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    max-width: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    min-height: 100vh;
    background-color: black;
}

/* header */

.top-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu li {
    font-size: 18px;
}

.nav-menu a,
.thomas {
    color: #d4af37;
    font-weight: bold;
}

.nav-menu a {
    text-decoration: none;
    font-size: 18px;
}

.home1 {
    position: absolute;
    right: 20px;
    margin-right: 150px;
}

.home2 {
    position: absolute;
    right: 20px;
    margin-right: 20px;
}

.thomas {
    font-size: 26px;
}

/* Hero front */

.heroFront {
    text-align: center;
    padding: 20px;

}

.headline {
    font-size: 26px;
    font-weight: bold;
    color: #d4af37;
}

.selfie_container {
    height: 200px;
    width: 200px;
    max-width: 100%;
    position: relative;
    background-image: url("/assets/2.selfie_3_11zon.png");
    background-size: cover;
    margin: 20px auto;
    border-radius: 8px;
}

.selfie_container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

.work,
.skills {
    color: #ffffff;
    font-size: 26px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;

}

.work {
    margin-top: 90px;
}

/* Cards */

.dynamic-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

.cards-container {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 350px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    border: 2px solid #d4af37;
    border-radius: 10px;
    overflow: hidden;
    color: #ffffff;
    margin-bottom: 20px;
}

.card:hover {
    background-color: #000000;
    box-shadow: 0 8px 16px 0 rgb(255, 255, 255);
}

.content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.description {
    margin-bottom: 10px;
    margin-top: 10px;
}

.card footer a {
    display: inline-block;
    margin: 10px;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.card footer a:hover {
    background-color: #ffffff;
    color: #000000;
}

/* my skills */

.skills_container {
    max-width: 90%;
    margin: 20px auto 40px;
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    border: 2px solid #d4af37;
}

.skills-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 25px;
}

.skills-icons i {
    font-size: 26px;
    margin: 0 10px;
    color: #d4af37;
    transition: color 0.3s ease;
}

/* About Container */
.about_container {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    border: 2px solid #d4af37;
}

.about-title {
    color: #ffffff;
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: bold;
}

.about-text {
    color: #ffffff;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
}






@media (max-width: 768px) {
    .top-menu {
        flex-direction: column;
        align-items: center;
    }

    .nav-menu {
        margin-top: 10px;
    }

    .nav-menu ul {
        flex-direction: column;
        text-align: center;
    }

    .nav-menu li {
        margin: 5px 0;
    }

    .home1,
    .home2 {
        position: static;
        margin: 10px 0;
    }
}

@media (min-width: 600px) {
    .cards {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media (max-width: 600px) {


    .heroFront {
        padding: 10px;
    }

    .selfie_container {
        height: 150px;
        width: 150px;
    }

}